local<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeTTa Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="logo">
            <span class="metta-M">M</span><span class="metta-e">e</span><span class="metta-t">T</span><span class="metta-T">T</span><span class="metta-a">a</span>
        </div>
        <form action="/convert" method="post" enctype="multipart/form-data">
            <div class="search-bar">
                <input type="text" name="url" placeholder="Enter a URL to convert">
            </div>
            <div class="buttons">
                <button type="submit">Convert URL</button>
                <label for="file-upload" class="custom-file-upload">
                    Upload File
                </label>
                <input id="file-upload" type="file" name="file"/>
            </div>
            <div class="source-type">
                <label for="source_type">Source Type:</label>
                <select name="source_type">
                    <option value="csv">CSV</option>
                    <option value="json">JSON</option>
                    <option value="xml">XML</option>
                    <option value="txt">TXT</option>
                </select>
            </div>
        </form>
    </div>
</body>
</html>